<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 매퍼경로 지정해주기 namespace -> DAOImpl에서써야함 -->
<mapper namespace="com.itwill.mapper.FaqMapper">
<!--result insert -->
<!-- Mybatis 쿼리문 작성하기 파라미터타입을 바로정해서 불러올수 있음 -->
<!-- resultType : 결과를 받을 클래스? -->
<!-- id는 쿼리를 구분 할 수 있는 단어 -->
<!-- 테이블전체를 조회하는 쿼리는, 받는 인자가 필요없으므로 parameterType가 필요없다. -->
<!-- parameterType : 입력을 받는 데이터 
 파라미터의 값으로 사용 #{변수}
 파리미터 명으로 사용 ${변수명}-->
<!-- resultType : 쿼리 수행 후 결과를 보여줌 -->

<!-- 후기 글 쓰기 -->
<insert id = "writeFaq"
parameterType = "Faq">
insert into faq (f_no, f_title, m_no, f_content) 
values (f_no_seq.nextval, #{f_title}, #{m_no}, #{f_content})

</insert>

<!-- 후기글삭제하기 -->
<delete id ="removeFaq"
parameterType="java.lang.Integer">

DELETE Faq WHERE f_NO=#{f_NO}
</delete>

<!-- 후기글 업데이트하기 -->
<update id="modifyFaq"
parameterType="Faq">


update faq set f_title=#{f_title}, m_no=#{m_no}, f_content=#{f_content} where f_no=#{f_no}
</update>

<!-- 후기 글 선택하기(Detail가기위한) -->
<select id ="selectFaq"
parameterType="java.lang.Integer"
resultType="Faq">
SELECT f_no,f_title,m_no,f_content FROM Faq WHERE f_NO=#{f_NO}
</select>

<!-- 모든 후기 리스트 받아오기 -->
<select id="selectAllFaq"
resultType="Faq">
SELECT * FROM Faq
</select>

</mapper>